<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row">
      <div class="col-3">
        <p>
          Free Shipping
          <span class="d-none d-lg-block">Get 2-day free shipping anywhere in North America.</span>
        </p>
      </div>
      <div *ngIf="warranty" class="col-3">
        <p>
          {{warranty.name}}
          <span class="d-none d-lg-block"
            >{{warranty.description}}</span
          >
        </p>
      </div>

      <div class="col-6">
        <p>
          ${{price + warranty?.additionalValue+ features?.additionalValue}}
          <span>Need financing? Learn more </span>
        </p>
        <button mat-button>Buy now</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
