<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row">
      <div class="col-3">
        <p>
          Free Shipping
          <span>Get 2-day free shipping anywhere in North America.</span>
        </p>
      </div>
      <div class="col-3">
        <p>
          2 years warranty
          <span
            >If anything goes wrong in the first two years, we'll replace it for
            free.</span
          >
        </p>
      </div>

      <div class="col-6">
        <p>
          $295.95
          <span>Need financing? Learn more </span>
        </p>
        <button mat-button>Buy now</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
