<h4>Would you like to add extended warranty coverage?.</h4>
<mat-grid-list cols="1" rowHeight="96px" [gutterSize]="'16px'">
  <mat-grid-tile *ngFor="let option of warranty">
    <mat-button-toggle [value]="option">
      <div class="row">
        <div class="col-11">
          <h3>{{ option.name }}</h3>
          <span>{{ option.description }}</span>
        </div>
        <div class="col-1">
<h3 *ngIf="option.additionalValue > 0">+${{ option.additionalValue }}</h3>
        </div>
      </div>

      
    </mat-button-toggle>
  </mat-grid-tile>
</mat-grid-list>
<mat-button-toggle-group (change)="setWarranty($event)">
</mat-button-toggle-group>
