
<h1>
  <span>New release</span>
  MOMENTUM True Wireless 2
  <span>Earbuds that put sound first</span>
</h1>

<h1>
  <span id="startingAt">Starting at</span>
  $295.95
</h1>

<mat-tab-group dynamicHeight>
  <mat-tab label="Overview">
    <div class="example-large-box">
      <p>For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True Wireless 2 is no different. Thanks to leading audio technology and innovation, these new earbuds deliver the best listening experience anytime, anywhere. With improved ergonomics designed for full day wearing and refined touch controls for a more personalised experience, they have been finely crafted for the most discerning listener and aim to simplify your life by enhancing your everyday.</p>
    </div>
  </mat-tab>
  <mat-tab label="Features">
    <div class="example-large-box">
      Large content
    </div>
  </mat-tab>
  <mat-tab label="What's in the box?">
    <div class="example-large-box">
      Large content
    </div>
  </mat-tab>
</mat-tab-group>

<app-finished></app-finished>
<app-warranty></app-warranty>





