.mat-button-toggle{
  word-wrap: break-word;
  white-space: normal;
  height: inherit;
  border: #EEEFF2 solid 2px;
  border-radius: 8px;
  padding: 24px;
}
.mat-button-toggle-checked{
  border: #1E96D4 solid 2px;
  background-color: white;
  border-radius: 8px;
  padding: 24px;
}
h3{
  color: #111111;
  size: 14px;
  text-align: left;
}
p{
  margin-top: 14px;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  color: #6B7280;
  text-align: left;
}
.mat-grid-list{
  margin-bottom: 70px;
}
