/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-button-toggle-button{
  display: flex !important;
  text-align: left;
}
.mat-button-toggle-label-content{
  width: 100%;
}
